/* Applying color variation */
.button-orange {
  background-color: #F86E33;
  border-color: #F86E33;
}
.button-orange.button-outline {
  color: #F86E33;
}
.button-orange.button-clear {
  color: #F86E33;
}

.navigation-link-orange {
  color: #F86E33;
}
